{{define "content"}}
<div id="tool-check-ip-waiting" class="waiting" style="display: none;">
    <div class="dim"></div>
    <div class="loader">
        <div class="col-md-12 load">
            <div style="width:100%;text-align:center;" class="waiting-message alert alert-warning load2">Đang xử lý file, vui lòng chờ...!</div>
        </div>
        <div class="col-md-12 load">
            <img width="300px" src="/assets/images/gifs/punishment.gif" alt="aa">
        </div>
       
    </div>
</div>
<div class="modal" style="padding:0!important" id="ip-detail-modal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title">Detail IP</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <table id="ip-detail-table" class="  table table-striped table-bordered" style="width:100%">
                                  <thead>
                                      <tr>
                                          <th>Username</th>
                                          <th>User ID</th>
                                          <th>IP</th>
                                          <th>Login from</th>
                                          <th>Last login time</th>
                                      </tr>
                                  </thead>
                                  <tbody>
  
                                  </tbody>
                              </table>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn-sm btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
  <div class="row equal">
  
      <div class="col-md-12">
          <div  class="card">
              <div class="card-header card-header-primary">
                  <h4 class="card-title">Check IP</h4>
                  <p class="card-category">Check duplicate IP address </p>
              </div>
              <div class="card-body">
                  <form id="tool-checkIP-form">
                      <div class="row">
                           <div class=" col-md-12 ">
                           <div class="row ">
                                                     <div class="col-md-8">
                            <p  class="text-info">
  
                                Đây là tool <b>Check IP</b> giúp detect user đăng nhập trùng IP. Chọn file và upload, tool sẽ xử lý và show ra data cho bạn                                              
                                                            </p>
    <p class="pt-1 pb-1 border-top border-bottom">
                              <span class="text-info">- IP không bắt : </span> <span id="list-ip-2"></span>
                           </br>
                           
                              <span class="text-warning">- IP yếu : </span> <span id="list-ip-1"></span>
                           </br>
                           
                              <span class="text-danger">- IP phải check </span>
  
                           </p>
  
                              <input accept=".xlsx, .xls, .csv" required id="tool-checkIP-input-file" type="file">
                          <p> <small class="text-danger">*Dữ liệu bạn up lên sẽ tự động xóa sau khi xử lý</small></p>
                                                            </div>
  
                              <div class="col-md-4">
                            <img  style=" margin: 0 auto;display:block!important;" class="img-thumbnail img-responsive" src="/images/cat3.gif" alt="aa">
                          </div>
    
  
  
                              </div>
                              </div>
  
                         
  
                      </div>
  
                      <div class="clearfix"></div>
                  </form>
  
              </div>
          </div>
      </div>
     
  </div>
  
  <div class="row">
        <div class="col-md-12">
      <div class="card">
          <div class="card-header card-header-primary">
              <ul class="nav nav-tabs" role="tablist">
  
                  <li class="nav-item">
                      <a id="ip-duplicate-table-link" class="nav-link active" href="#ip-duplicate-table-tab" role="tab" data-toggle="tab">Duplicate IP</a>
                  </li>
                   <li class="nav-item">
                      <a id="ip-table-link" class="nav-link " href="#ip-table-tab" role="tab" data-toggle="tab">View data</a>
                  </li>
  
              </ul>
          </div>
  
          <div class="card-body">
  
  
              <div class="rows">
                  <div class="col-md-12">
                      <!-- Tab panes -->
  
                         
                      <div class="tab-content">
                          <div role="tabpanel" class="tab-pane fade in active show" id="ip-duplicate-table-tab">
  
                              <table id="ip-duplicate-table" class="table table-striped table-bordered" style="width:100%">
                                  <thead class="thead-inverse">
                                      <tr>
                                          <th>IP</th>
                                          <th>Total users</th>
                                          <th>Users logged in</th>
                                          <th>Functions</th>
                                      </tr>
                                  </thead>
                                  <tbody>
  
                                  </tbody>
                              </table>
  
                          </div>
                          <div role="tabpanel" class=" tab-pane fade " id="ip-table-tab">
            <table id="ip-table" class="  table table-striped table-bordered" style="width:100%">
                                  <thead>
                                      <tr>
                                          <th>Username</th>
                                          <th>User ID</th>
                                          <th>IP</th>
                                          <th>Login from</th>
                                          <th>Last login time</th>
                                      </tr>
                                  </thead>
                                  <tbody>
  
                                  </tbody>
                              </table>
                          </div>
                          
                      </div>
                  </div>
              </div>
  
          </div>
  
      </div>
    </div>
  
  </div>
{{end}}